<div class="admin header">
  <h1>Locations</h1>
  <a href="<%= admin_search_path %>" alt="">Back to Admin Search Page</a>
</div>
<br>

<div class="locations">
  <% @locations.each do |location| %>
<a href="<%= admin_location_path(location) %>" alt=""><%= location.city %></a><br>


  <% end %>
</div>


