<div class='student'>
  <p>Username: <%= @student.user_name %></p>
  <p>Password: <%#= @student.l_name %></p>
  <p>Student ID: <%= @student.id %></p>
  <p>Course: <select>
    <option value='WDI'>WDI</option>
    <option value='UXDI'>UXDI</option>
    <option value='PMI'>PMI</option>
    <option value='FEWD'>FEWD</option>
    <option value='DS'>DS</option>
  </select></p>

  <!-- <p>Cohort: <select>
    <option value='WDI'>WDI</option>
    <option value='UXDI'>UXDI</option>
    <option value='PMI'>PMI</option>
  </select></p> -->




</div>
