<h2>Survey</h2>

Are you currently working?
Yes or No - radio field - in table, default is false

(if says yes, what if a message pops up saying "Congratulations! Now you are Alumni")

If yes, when was your start date?
answer is a date field

Type of Employment:
Textfield

Thank you for completing General Asembly's 100 Day Survey!


