<div class='student'>
  <h2>Survey</h2>
    <%= form_for(@student) do |s| %>
      <p>Are you currently working?
      Yes or No - radio field - in table, default is false </p>

      <p>(if says yes, what if a message pops up saying "Congratulations! Now you are Alumni")</p>

      <p>If yes, when was your start date?
      answer is a date field</p>

      <p>Type of Employment:
      Textfield</p>

      <p>Thank you for completing General Asembly's 100 Day Survey!</p>
    <% end %>
<div>

