<div class="admin header">
  <h1>Admin Student Index Page</h1>
  <a href="<%= admin_search_path %>" alt="">Back to Admin Search Page</a>
</div>
<br>

<div class="studentIndex">
    <% @students.each do |student| %>
      <a href="<%= admin_student_path(student) %>" alt=""><%= student.first.capitalize %> <%= student.last %></a><br>
    <% end %>
</div>






