<h1>Admin Student Index Page</h1>

div class="students">
  <% @students.each do |student| %>
<a href="<%= admin_students_path(student) %>" alt=""><%= student.username %></a><br>


  <% end %>
</div>

<!-- alternate functional div #KA -->
<div class='students'>
  <% @students.each do |student| %>
    <%= link_to(student.first, student_path(student)) %>
  <% end %>
</div>

<!-- change to first and last name -->


