<h1>Admin Search Page</h1>

<div class="searches">
<p>
<%= button_to "GA Locations", admin_locations_path, method: "get" %>
</p>
<p>
<%= button_to "GA Cohorts", admin_cohorts_path, method: "get" %>
</p>
<p>
<%= button_to "GA Courses", admin_courses_path, method: "get" %>
</p>
<p>
<%= button_to "GA Students", admin_students_path, method: "get" %>
</p>
</div>
