<div class="admin header">
  <h1>Chart Page</h1>
  <a href="<%= admin_search_path %>" alt="">Back to Admin Search Page</a>
</div>
<br>



<%= button_to "All Cohorts", admin_cohorts_path, method: "get" %>
