<div class="admin header">
  <h1>Cohorts</h1>
  <a href="<%= admin_search_path %>" alt="">Back to Admin Search Page</a>
</div>
<br>

<div class="cohorts">
  <% @cohorts.each do |cohort| %>
<a href="<%= admin_cohort_path(cohort) %>" alt=""><%= cohort.cohort %></a><br>




  <% end %>
</div>




