<div class="admin header">
  <h1>Chart Page</h1>
  <a href="<%= admin_search_path %>" alt="">Back to Admin Search Page</a>
</div>
<br>

<p>blue = employed</p>
<p>gray = employed</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.js"></script>

<canvas id="myChart" width="400" height="400"></canvas>

<script>

    var ctx = $("#myChart").get(0).getContext("2d");
  // This will get the first returned node in the jQuery collection.
    var myNewChart = new Chart(ctx);

    var data = {
      labels: ["30 days", "60 days", "90 days"],
      datasets: [
          {
              label: "employed",
              fillColor: "rgba(151,187,205,0.5)",
              strokeColor: "rgba(151,187,205,0.8)",
              highlightFill: "rgba(151,187,205,0.75)",
              highlightStroke: "rgba(151,187,205,1)",
              data: <%= @employed_percent %>
          },
          {
              label: "unemployed",
              fillColor: "rgba(220,220,220,0.5)",
              strokeColor: "rgba(220,220,220,0.8)",
              highlightFill: "rgba(220,220,220,0.75)",
              highlightStroke: "rgba(220,220,220,1)",
              data: <%= @unemployed_percent %>
          }
      ]
    };

    var myBarChart = new Chart(ctx).Bar(data);
</script>

<%= button_to "All Courses", admin_courses_path, method: "get" %>
