<div class="admin header">
  <h1>Courses</h1>
  <a href="<%= admin_search_path %>" alt="">Back to Admin Search Page</a>
</div>
<br>

<div class="courses">
  <% @courses.each do |course| %>
<a href="<%= admin_course_path(course) %>" alt=""><%= course.course %></a><br>


  <% end %>
</div>





